# Default
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# macOS
.DS_Store

# Dependency directories
node_modules

# package-lock.json
package-lock.json

# Environment variables
.env

# Irrelevant info
.psd